body {
  background: #333;
  color: #fff; }

.navbar {
  background-color: #292b2c;
  opacity: 0.7;
  border-bottom: 3px solid #008ed6; }

#home-section {
  background-image: url(../img/desk.jpeg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }
  #home-section .dark-overlays {
    background: rgba(0, 0, 0, 0.7);
    min-height: 700px; }
  #home-section .home-inner {
    padding-top: 150px;
    padding-bottom: 30px; }

.fa {
  background: #fff;
  color: #008ed6;
  padding: 4px;
  font-size: 30px;
  border-radius: 5px; }

.card-form {
  opacity: 0.7; }

#explore-main-section {
  background-color: #f8f9fa; }

.icon_dark {
  color: #fff;
  background: #333; }

@media (max-width: 768px) {
  #h1 {
    font-size: 36px; } }
