$nav-color: #292b2c;
$body-bg: #333;
$white-color: #fff;
$bg-height: 700px;
$primary-color: #008ed6;
$icon-font-size: 30px;
$bg-light: #f8f9fa;
$icon-text-color: #fff;
$icon-bg-color: #333;

body{
    background: $body-bg;
    color: $white-color;
}
.navbar{
    background-color: $nav-color;
    opacity: 0.7;
    border-bottom: 3px solid #008ed6 ;
}
#home-section{
    background-image: url(../img/desk.jpeg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    min-height: $bg-height;

    .dark-overlays{
        background: rgba(0, 0, 0,0.7);
        min-height: $bg-height;
    }
    .home-inner{
        padding-top: 150px;
        padding-bottom: 30px;;
    }
}
.fa{
    background: $white-color;
    color: $primary-color;
    padding: 4px;
    font-size: $icon-font-size;
    border-radius: 5px;
}
.card-form{
    opacity: 0.7;
}
#explore-main-section{
    background-color: $bg-light;
    
}
.icon_dark{
    color: $icon-text-color;
    background: $icon-bg-color;
}

@media(max-width: 768px){
    #h1{
        font-size: 36px;
    }
}
